@import './base.css';
@import 'tailwindcss';

@font-face {
  font-family: 'Sarmady';
  src: url('/fonts/Sarmady-SemiBold.otf') format('opentype');
  font-weight: 100 900;
  font-style: normal;
}

html[dir='rtl'] body {
  direction: rtl;
  text-align: right;
}

html[dir='ltr'] body {
  direction: ltr;
  text-align: left;
}

body {
  font-family: 'Sarmady', 'Nunito', sans-serif;
  direction: rtl;
  background-color: white;
  color: #263772;
  transition:
    background 0.3s ease-in-out,
    color 0.3s ease-in-out;
}

.dark body {
  background: linear-gradient(to bottom, #4e489e, #243f88, #10153b);
}

@theme {
  --font-display: 'Satoshi', 'sans-serif';
  --breakpoint-3xl: 1920px;
  --color-greenColor: #78c2aa;
  --color-darkBlue: #263772;
  --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
  --ease-snappy: cubic-bezier(0.2, 0, 0, 1);
}
