@import './base.css';
@import 'tailwindcss';

@font-face {
  font-family: 'Sarmady';
  src: url('/fonts/Sarmady-SemiBold.otf') format('opentype');
  font-weight: 100 900;
  font-style: normal;
}

html[dir='rtl'] body {
  direction: rtl;
  text-align: right;
}

html[dir='ltr'] body {
  direction: ltr;
  text-align: left;
}

body {
  font-family: 'Sarmady', 'Nunito', sans-serif;
  direction: rtl;
  background-color: white;
}

.dark body {
  @apply bg-amber-300 text-white;
}
@theme {
  --font-display: 'Satoshi', 'sans-serif';
  --breakpoint-3xl: 1920px;
  --color-greenColor: #78c2aa;
  --color-darkBlue: #263772;
  --ease-fluid: cubic-bezier(0.3, 0, 0, 1);
  --ease-snappy: cubic-bezier(0.2, 0, 0, 1);
  /* ... */
}
